
body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    background-image: url(./images/header-background.jpg);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.header {
    padding: 36px 150px 100px;
}

.logo {
    width: 200px;
    height: auto;
    opacity: 0.7;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.links {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    text-shadow: 2px 2px #1F2937;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}

.under {
    display: flex;
    flex: 1;
    gap: 150px;
    justify-content: space-between;
    position: relative;
}

.title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.text-button {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 450px;
}

.copyright-info {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    color: #E5E7EB;
}

.image-placeholder {
    display: flex;
    width: 550px;
    justify-content: center;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 15px;

}

.copyright {
    color: #E5E7EB;
    font-size: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.one {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 5px;
    height: 36px;
    width: 100px;
}

.subtitle {
    font-size: 36px;
    color: #E5E7EB;
    font-weight: bolder;
    margin: 50px auto;
    text-align: center;
    text-shadow: 2px 2px #1F2937;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 52px;
    margin-bottom: 150px;
}

.image-text {
    width: 200px;
    text-align: center;
}

.photo {
    border: 3px solid rgb(80, 187, 223);
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: auto;
}

.text {
    margin: 10px;
    color: #E5E7EB;
    font-size: 15px;
    text-shadow: 2px 2px #1F2937;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB80;
    padding: 150px 300px;
}

.quote-text {
    font-size: 36px;
    /* font-weight: lighter; */
    color: #1F2937;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.action {
    background-color: #3882F690;
    display: flex;
    margin: 100px 250px;
    padding: 50px 100px;
    color: #E5E7EB;
    justify-content: space-evenly;
    border-radius: 10px;
    ;
}

.call {
    font-size: 20px;
    font-weight: bold;
}

.sign-up {
    font-size: 15px;
}

.two {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: 3px solid #E5E7EB;
    font-weight: bold;
    height: 36px;
    width: 100px;
}

.footer {
    display: flex;
    color: #E5E7EB;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-shadow: 2px 2px #1F2937;
}